body{
    color: whitesmoke;
    font-family: Arial;
    font-size: 18px;
}

#intro{
    display: flex;
}

.title{
    font-family: Impact, sans-serif;
    font-size: 40px;
    align-self: flex-start;
    margin: 2vw auto 0vw 6vw;
    color: rgb(65, 63, 61);
}

#tabListe{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

table{
    padding: 22px;
    border-spacing: 0px 22px;
    box-shadow: 3px 4px 4px 4px rgb(2, 2, 2);
}

th{
    width: 12vw;
    padding-bottom: 15px;
    border-bottom: whitesmoke 3px solid;
}

td{
    width: 12vw;
    text-align: center;
}

td.td-first{
    border-left: rgb(224, 17, 162) 5px solid;
}

tr{
    height: 45px;
}

#btn-valider{
    background-color: rgb(69, 231, 19);
    border-radius: 10px;
    border:none;
    padding: 7px 12px 7px 12px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#btn-valider:hover{
    background-color: rgb(42, 168, 4);
}

#btn-rejeter{
    background-color: rgb(253, 90, 14);
    border-radius: 10px;
    border:none;
    padding: 7px 11px 7px 11px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#btn-rejeter:hover{
    background-color: rgb(202, 71, 10);
}